<h1>el listado de empleados y clientes</h1>
<div>
  {{#each users}}
  <p>
    nombre de usuario: {{this.username}}
  </p>
  <p>
    rol: {{this.role}}
  </p>
  <p>
    email: {{this.email}}
  </p>
  <p>
    fecha de creación: {{this.created_at}}
  </p>
  <p>
    última actualización: {{this.updated_at}} </p>
  <hr>
  {{/each}}

</div>
<a href="/addUser">registra otro usuario</a>