<h1>el listado de usuarios</h1>
<div>
  {{#each users}}
  <p>
    nombre de usuario: {{this.username}}
  </p>
  <p>
    rol: {{this.role}}
  </p>
  <p>
    email: {{this.email}}
  </p>
  <p>
    fecha de creación: {{this.timeStamps.createdAt}}
  </p>
  <p>
    última actualización: {{this.timeStamps.updatedAt}} </p>
  {{/each}}
  <hr>
</div>
{{!-- <a href="/addUser">registra otro usuario</a> --}}